@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:700);

body{
  font-family: Noto Sans Japanese;
  color: #444444;
}

@media(max-width:450px){
  table{
    font-size: 12px;
  }
  th{
    font-size: 12px;
  }
  td{
    padding: 2px;
    white-space: nowrap;
  }
}
.react-bootstrap-table{
  max-width: 450px;
}

.scroll{
  overflow: auto
}

nav{
    /*background-color:#00897b;*/
    /*background: linear-gradient(to right, #f8bbd0, #ba68c8);*/
    height: 50px;
    font-size: 24px;
}


.number{
  text-align: right;
  font-family: 'Roboto';
}

.brown{
  background: linear-gradient(to right, #5d4037 50%, #fff);
  color: aliceblue;
  border: solid 1px;
  border-color:#f5f5f5;
  border-radius: 5px 5px 5px 5px;
  vertical-align: top;
  font-size: 13.5px;
  padding: 7px 10px 7px 10px;
  margin: 7px; 
}

.purple{
  /*background-color:#ce93d8;*/
  background: linear-gradient(to right, #ce93d8 50%, #fff);
  color: aliceblue;
  border: solid 1px;
  border-color:#f5f5f5;
  border-radius: 5px 5px 5px 5px;
  vertical-align: top;
  font-size: 13.5px;
  padding: 7px 10px 7px 10px;
  margin: 7px;
}

.sakura{
  /*background-color:#f8bbd0;*/
  background: linear-gradient(to right, #f8bbd0 50%, #fff);
  color: #444444;
  border: solid 1px;
  border-color:#f5f5f5;
  border-radius: 5px 5px 5px 5px;
  vertical-align: top;
  font-size: 13.5px;
  padding: 7px 10px 7px 10px;
  margin: 7px;
}