@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:700);

body{
  font-family: Noto Sans Japanese;
}

@media(max-width:450px){
  table{
    font-size: 12px;
    max-width: 380px;
  }
  th{
    font-size: 12px;
  }
  td{
    padding: 4px;
    white-space: nowrap;
  }
}

.scroll{
  overflow: auto
}

nav{
    /*background-color:#00897b;*/
    /*background: linear-gradient(to right, #f8bbd0, #ba68c8);*/
    height: 50px;
    font-size: 24px;
}


.number{
  text-align: right;
  font-family: 'Roboto';
}